<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/multiple.css">
</head>
<body>
  <h2>Sorry, we found multiple results for your search. Please make your keywords more specific.</h2>
  <div class="table-container">
    {% for table in tables %}
            <thead>{{titles[loop.index]}}</thead>
              <tbody>  {{ table|safe }} </tbody>
    {% endfor %}
  </div>
</div>
    <form class="navbar-form navbar-left" action="{{ url_for('search') }}" method="GET" >
            <h2 class="form-heading text-center" >One more search</h2>
        <input type="text" class="form-control" name="keyword" placeholder="Keywords">
         <button type="submit" class="btn btn-lg btn-primary btn-block">search</button>
      </form>
</body>
{#<body>#}
{#    <div>#}
{#        <h2>Sorry, we found multiple results for your search. Please make your keywords more specific.</h2>#}
{#    </div>#}
{#    {% for table in tables %}#}
{#                {{titles[loop.index]}}#}
{#                {{ table|safe }}#}
{#    {% endfor %}#}
{#    <form class="navbar-form navbar-left" action="{{ url_for('search') }}" method="GET" >#}
{#            <h2 class="form-heading text-center" >One more search</h2>#}
{#        <input type="text" class="form-control" name="keyword" placeholder="Keywords">#}
{#         <button type="submit" class="btn btn-lg btn-primary btn-block">search</button>#}
{#      </form>#}
{#</body>#}
</html>