<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Sorry, there is no business matching your search. Please revise your spelling or change another words</h1>
    <form class="navbar-form navbar-left" action="{{ url_for('search') }}" method="GET" >
            <h2 class="form-heading text-center" >One more search</h2>
        <input type="text" class="form-control" name="keyword" placeholder="Keywords">
         <button type="submit" class="btn btn-lg btn-primary btn-block">search</button>
      </form>
</body>
</html>